# Q1 Program to Accept the Details of a Student

In [1]:
name = input('Enter the name:')
roll_no = input('Enter the roll number:')
mark = input('Enter the mark:')
print("Name:"' ' + name)
print("Roll No:"' ' + roll_no)
print("Mark:"' ' + mark)

Enter the name:Anisha
Enter the roll number:21
Enter the mark:78
Name: Anisha
Roll No: 21
Mark: 78

  # Q2 Program to Accept and Convert Temperatures to and from Celsius Fahrenheit

In [2]:
fahrenheit = int(input('Enter the temperature in fahrenheit:'))#read input
celsius = ((fahrenheit-32)/9)*5                             #calculate celsius
print('Temperature in Celsius=', celsius)

Enter the temperature in fahrenheit:41
Temperature in Celsius= 5.0

# Q3 Program to Accept and Display Product of Two Numbers

In [3]:
a = float(input('Enter number 1:'))      
b = float(input('Enter number 2:'))
product = a*b
print('Product=', product)

Enter number 1:24
Enter number 2:21
Product= 504.0

# Q4 Program to Accept and Display a String

In [7]:
message = input('Enter the message:')
message0 = message[0]+'"'+message[0:]
message1 = message0[:7]+'**'+message0[8:]
message2 = message1[:15]+'**'+message1[16:]
message3 = message2[:32]+'**'+message2[33:]
message4 = message3[1:43]+'**"'+message3[43:]
print(message4)

Enter the message:Learn Python by Developing a Website
"Learn**Python**by Developing a**Website**"

# Q5 Python program to accept the radius of a circle and display its area.

In [6]:
import math 
Radius = float(input('Enter Radius:')) 
Area = math.pi * Radius**2 
print ('Area of Circle:=', Area)

Enter Radius:27.60
Area of Circle:= 2393.139619798561

# Q6 Program to insert a number to any position in a list.

In [5]:
n = int(input("length of list:")) # Accept input for the length of number
list1 = []
for i in range(n):
  element = int(input("Enter a number:"))
  list1.append(element)
p = int(input("Enter a position to insert:")) #Accept input for position
f = int(input("Ener a new number to insert:")) #Accept input for new number
print("\n")
print("List of elements are:", list1)
list1.insert(p, f)
print("New List after insertion are:", list1)

length of list:5
Enter a number:1
Enter a number:2
Enter a number:3
Enter a number:4
Enter a number:5
Enter a position to insert:2
Ener a new number to insert:0


List of elements are: [1, 2, 3, 4, 5]
New List after insertion are: [1, 2, 0, 3, 4, 5]

# Q7 Program to rename key value in Dictionary.

In [7]:
Dict_1 = {"name":"John", "age":5, "salary":8000,"city":"New York"}
Dict_1.update({"city":"Dubai"})
print(Dict_1)

{'name': 'John', 'age': 5, 'salary': 8000, 'city': 'Dubai'}

# Q8 Program to update new salary in a dictionary.

In [78]:
D_mast = {
      'emp1':{"name":"John", "salary": 7500},
      'emp2':{"name":"Emma", "salary": 8000},
      'emp3':{"name":"Brad", "salary": 500},
}
print("Original Dictionary:", D_mast)
print("\n")
D_mast['emp3']["salary"] = 8500
print("Dictionary Updated:", D_mast)

Original Dictionary: {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}


Dictionary Updated: {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

# Q9 Program to copy elements from a Tuple into a new Tuple.

In [4]:
tup1 = (10, 20, 43, 54, 56, 58)
x = (43, 54)
tup2 = x
print("Elements in Tuple 1 are:", tup1)
print("\n")
print("Elements in Tuple 2 are:", tup2)

Elements in Tuple 1 are: (10, 20, 43, 54, 56, 58)


Elements in Tuple 2 are: (43, 54)

# Q10 Program to count number of occurances of  50 in aTuple.

In [11]:
tup2 = (50, 10, 60, 70, 50, 83, 567, 50, 81)
count = tup2.count(50)
print(count)

3